@charset "UTF-8";
.str0 {stroke:#2B2A29;stroke-width:2.36221}
.fil2 {fill:#5CA595}
.fil1 {fill:#A2D9F7}
.fil3 {fill:#F7B275}
.fil0 {fill:#FEFEFE}

.str1 {
    -webkit-transform-origin: center center;

    -webkit-animation-name: 'unsmall';
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards


    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    stroke:#2B2A29;
    stroke-width:1


}

.str1:hover {
    -webkit-animation-name: 'small';
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-direction: normal;

}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 10000;
  }
  to {
    stroke-dashoffset: 7990;
  }
}

@-webkit-keyframes undash {
  from {
    stroke-dashoffset: 7990;
  }
  to {
    stroke-dashoffset: 10000;
  }
}

@-webkit-keyframes small {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.9);
  }
}

@-webkit-keyframes unsmall {
  from {
    -webkit-transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1);
  }

}


