@charset "UTF-8";
@font-face {
    font-family: 'Gulim';
    src: local('Gulim'),
         url('../fonts/Gulim.woff') format('woff'),
         url('../fonts/Gulim.otf'),
         url(../fonts/gulim.ttc);
}

.fil1 {fill:#2E6358}

.bee_fil5 {fill:black}
.bee_fil7 {fill:#100000}
.bee_fil6 {fill:#4C3B2B}
.bee_fil3 {fill:#62472A}
.bee_fil8 {fill:#E3F3E8}
.bee_fil4 {fill:#F9A717}

.bee_float_text {
    font-weight:normal;
    font-size:21.4311px;
    font-family:'Gulim';
    fill:#2E6358;
}

.text {
    font-weight:normal;
    font-size:25.5295px;
    font-family:'Gulim'
}

.beePath {
    stroke:#FEFEFE;
    stroke-width:2.36221;
    stroke-dasharray:11.811033 7.086620;
    stroke-dashoffset: 0;
    fill:none;
}

.text, .bee_text{
    fill:#FEFEFE;
    opacity: 0;  
    
    -webkit-transition: all 1s ease;
            transition: all 1s ease;
}

.bee_text {
    fill:#FEFEFE;
}

#brain {
    width: 100%;     
}

.gyrus_figure {
    fill:#2E6358;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transition: all 1s ease;
            transition: all 1s ease;

}
.gyrus_figure:hover {
    fill:#FEFEFE;
    
    -webkit-transform: scale(0.9);
/*            transform: scale(0.9); т.к. в firefoxбаг смаштабом*/
}

.gyrus_group, #bee_popup, #bee_text {
    -webkit-transition: all 1s ease;
            transition: all 1s ease;
}

.gyrus_group:hover > .text {
    opacity: 1;
}

.line {
    stroke-width:2.36221;
    fill:none;
    -webkit-transition: stroke-dashoffset 1s ease,
                        stroke 1s ease;
            transition: stroke-dashoffset 1s ease,
                        stroke 1s ease;

    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    stroke:#2E6358;
}

.gyrus_group:hover > .line {
    stroke-dashoffset: 0;
    stroke:#FEFEFE;
}

#bee_popup, #bee_text {
    opacity: 0;
}

.bee_popup_group:hover > #bee_popup {
    opacity: 1;
}

.bee_popup_group:hover > #bee_text {
    opacity: 1;
}
