@font-face {
    font-family: 'Gulim';
    src: local('Gulim'),
         url('../fonts/gulim.woff') format('woff'),
         url('../fonts/gulim.otf'),
         url(../fonts/gulim.ttc);
}

@charset "UTF-8";
.str1 {stroke:#FEFEFE;stroke-width:2.36221}
.str0 {stroke:#FEFEFE;stroke-width:2.36221;stroke-dasharray:11.811033 7.086620}
.fil0 {fill:none}
.fil2 {fill:#FEFEFE}
.fil5 {fill:black}
.fil7 {fill:#100000}
.fil6 {fill:#4C3B2B}
.fil3 {fill:#62472A}
.fil8 {fill:#E3F3E8}
.fil4 {fill:#F9A717}
.fil1 {fill:#2E6358}
.fnt0 {font-weight:normal;font-size:21.4311px;font-family:'Gulim'}
.fnt1 {font-weight:normal;font-size:25.5295px;font-family:'Gulim'}

.beePath {
    fill:none;
}
.text, .bee_text{
    fill:#FEFEFE;
    opacity: 0;  
    
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.bee_text {
    fill:#FEFEFE;
}

.fil0 {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;

    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    stroke:#2E6358;
}

#brain {
    width: 100%;     
}

.fil2 {
    fill:#2E6358;
    -webkit-transform-origin: center center;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;

}
.fil2:hover {
    fill:#FEFEFE;
    
    -webkit-transform: scale(0.9);
}

.gyrus_group, #bee_popup, #bee_text {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.gyrus_group:hover > .text {
    opacity: 1;
}
.gyrus_group:hover > .fil0 {
    stroke-dashoffset: 0;
    stroke:#FEFEFE;
}

#bee_popup, #bee_text {
    opacity: 0;
}

.bee_popup_group:hover > #bee_popup {
    opacity: 1;
}
.bee_popup_group:hover > #bee_text {
    opacity: 1;
}
