@import url("../fonts/lithospro-black.css");

body {
    background: #4D897C;
}

.brain_holder {
    margin: 0 auto;
}


h1 {
    text-align: center;
    color: #fff;
    font-family: LithosPro850;
    font-size: 60px;
    margin: 10px 0 0 0;
}
